body {
  margin: 0px;
}
#navbar {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
#logo {
  width: 5%;
  text-align: right;
}
#logo img {
  width: 30%;
  border-radius: 80%;
  padding: 9px;
}
#profile img {
  border-radius: 80%;
  width: 50%;
  height: 35px;
  padding-top: 7%;
}
#search {
  width: 10%;
  padding: 12px;
}
ul {
  padding-left: 0px;
}

#list li {
  display: inline;
  margin-right: 2%;
}
#options {
  width: 75%;
}
#profile {
  width: 5%;
}

#main {
  padding: 3%;
}

#movies{
  width: 350px;;
  height: 250px;
  /* border: 1px solid rgb(135, 156, 135); */
  align-items: right;
  border-top: none;
  /* overflow: scroll; */
  margin-top: 15px;
}

#container{
 margin-top: 25px;

}
.fa-thumbs-up{
 font-size: 45px;
}
.rowDive
{
  border:1px solid; width:100%;height:100px;display:flex;
  background-color: #192133;
  border-radius:8px; 
   margin-bottom:5px;
}
#nav{
 
  width: 100%;
  height: 100px;
  background-color: #131a27;
}
input{
width: 25%;
height: 25px;
border-radius: 6px;
margin-left: 700px;
margin-bottom: -95px;
font-size:18px;
}
button{
  border-radius: 6px; 
   height: 30px;background-color: #1f80e0;
   color:white;
   margin-top: -80px;
  }
  a{
      text-decoration: none;
      color:white;
     margin-left: 200px;
     margin-top: 150px;
  }

